 <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light opacity-50 border-bottom box-shadow">
    <div class="container-fluid">
        <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @*@*<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                        
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>*@
                       
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                    <li class="text-Primary me-4">Welcome, @User.Identity.Name!</li>
                    <a class="btn btn-secondary btn-lg active me-1" role="button" aria-pressed="true" asp-area=""
                        asp-controller="Account" 
                        asp-action="Profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" asp-area="" 
                        asp-controller="Account" 
                        asp-action="Logout">Logout</a>
                    </li>
                </ul>
                } else {
                    <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" asp-area="" 
                            asp-controller="Account" 
                            asp-action="Login">Login</a>
                    </li>
                    </ul>
                }
            </ul>
        </div>
    </div>
</nav>